<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome to the HomePage</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
          <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      Dog Image Fetcher
      </a>
  <button class="btn btn-primary" v-on:click="changeSeen">Toggle Hide</button>
    </nav>
    <div class="container  ml-md-0 mt-5">
      <h1>{{message}}</h1>
      <p class="inline">
    </div>
      <div class="row mt-5 mx-5" v-if="seen">
      <div class="col-sm-4">
          <div class="card">
            <div class= "card-header">
              Change Username
            </div>
            <div class="card-body">
              <div class="container">
                <p>Change Username by Enter: {{counter1}}</p>
                <p>Change Username by Click: {{counter2}}</p>
              </div>
            <input class="form-control mr-sm-2" placeholder="Username" @keyup.enter="changeUserEnter" v-model="username">
            </div>
            <div class="card-body text-center">
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="changeUserClick">Change Username</button>
            </div>
          </div>
      </div>
        <div class="col-sm-4">
          <div class="card">
            <div class= "card-header">
            </div>
            <div class="card-body">
               <p v-if="myImage.length > 0"><img v-bind:src="myImage" class="img-fluid" alt="Responsive image"></img></p>
            </div>
            <div class="card-footer text-center">
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="fetchDog"> Fetch Dog</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Vue.js"></script>
  </body>
</html>
